.grid-container{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.grid-square{
    display: inline-grid;
    background-color: aquamarine;
}

.black{
    background-color: black;
}